<div class="header__wrapper">
  <div class="container">
    <div>
      <div class="header__brand" routerLink="/">
        <img src="assets/images/logo.png" alt="Brand Logo" />
      </div>
      <div class="header__toggle mobile-only" (click)="toggleMenu()">
        <i class="bi bi-list" *ngIf="!showMenu"></i>
        <i class="bi bi-x-lg" *ngIf="showMenu"></i>
      </div>
      <!-- <div class="header__search desktop-only">
          <img src="assets/icons/search.png" alt="Search Icon" />
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            (keydown.enter)="searchProducts($event)"
          />
        </div> -->
      <div class="header__action" [ngClass]="showMenu ? '' : 'desktop-only'">
        <div
          class="header__action--item c-pointer"
          *ngFor="let menuItem of menuItems"
          [routerLinkActive]="'active'"
          (click)="goToPage(menuItem.url)"
        >
          <!-- <img src="assets/icons/user.png" alt="User Icon" /> -->
          <span>{{ menuItem.title }}</span>
        </div>

        <!-- <div ngbDropdown class="d-inline-block">
          <div class="header__action--item c-pointer" ngbDropdownToggle>
            <img src="assets/icons/user.png" alt="User Icon" />
            <span>Admin</span>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/account/profile/settings">
              My Profile
            </button>
            <button ngbDropdownItem>Logout</button>
          </div>
        </div> -->

        <!-- <div class="header__action--item c-pointer">
          <img src="assets/icons/heart.png" alt="Heart Icon" />
        </div>
        <div class="header__action--item c-pointer bag" routerLink="/cart">
          <img src="assets/icons/bag.png" alt="Bag icon" />
          <span>2</span>
        </div> -->
      </div>
    </div>
    <!-- <div class="mobile-only">
        <div class="header__search">
          <img src="assets/icons/search.png" alt="Search Icon" />
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            (keydown.enter)="searchProducts($event)"
          />
        </div>
      </div> -->
  </div>
</div>
