<!-- <app-header-top-strip></app-header-top-strip>
<app-header></app-header> -->
<div class="container">
  <!-- <app-header-categories></app-header-categories> -->

  <!-- <app-breadcrumb
      [inactiveElements]="['Home']"
      [activeElement]="'Category'"
    ></app-breadcrumb> -->

  <div class="category__wrapper">
    <div class="category__header">
      <div class="category__header--info">
        <div class="category__header--info-title">
          {{ categoryTitle[categoryIndex] }}
        </div>
        <div class="category__header--info-description">
          {{ categorySubtitle[categoryIndex] }}
        </div>
      </div>
      <div class="category__header--search-wrapper" *ngIf="false">
        <div class="category__header--search">
          <img src="assets/icons/search-dark.png" alt="Search Icon" />
          <input
            type="search"
            class="form-control"
            placeholder="Search your item here..."
          />
        </div>
      </div>
    </div>
    <div class="category__list" *ngIf="false">
      <div class="category__item first">
        <div class="category__item--label">All Categories</div>
        <div class="category__item--action">
          <span>Discover</span>
          <img
            src="assets/icons/arrow-right-white.png"
            alt="Arrow Right Icon"
          />
        </div>
      </div>

      <!-- <swiper-container
          [config]="swiperOptions"
          [breakpoints]="{
            '320': {
              slidesPerView: 1,
              spaceBetween: 10
            },
            '768': {
              slidesPerView: 2,
              spaceBetween: 20
            },
            '1024': {
              slidesPerView: 4,
              spaceBetween: 20
            },
            '1200': {
              slidesPerView: 5,
              spaceBetween: 20
            }
          }"
          bulletActiveClass="categories-swiper-bullet-active"
          el="categories-swiper-pagination"
          class="categories-swiper"
        >
          <swiper-slide *ngFor="let subCategory of subCategories; index as i">
            <div class="category__item">
              <div class="category__item--media">
                <img
                  src="assets/images/dummy-product-03.png"
                  alt="Category Image"
                />
              </div>
              <div class="category__item--title">
                <span>{{ subCategory?.categoryName }}</span>
              </div>
            </div>
          </swiper-slide>
        </swiper-container> -->

      <div
        class="category__item"
        *ngFor="let item of [].constructor(5); index as i"
      >
        <div class="category__item--media">
          <img src="assets/images/dummy-product-05.png" alt="Category Image" />
        </div>
        <div class="category__item--title">
          <span> Category {{ i + 1 }} </span>
        </div>
      </div>
    </div>
  </div>

  <app-offer-banner
    [title]="'Wide range of ' + categoryTitle[categoryIndex]"
    [subtitle]="''"
    [mediaURL]="'assets/images/dummy-product-04.png'"
    [description]="categorySubtitle[categoryIndex]"
    [ctaLabel]="''"
    [ctaType]="''"
    [bgColor]="'grey'"
  ></app-offer-banner>

  <ng-container *ngFor="let subCategory of products[categoryIndex]">
    <div class="bestseller">
      <div
        class="bestseller__header"
        *ngIf="subCategory.subCategory !== 'Default'"
      >
        <div class="bestseller__header--title">
          {{ subCategory.subCategory }}
        </div>
        <!-- <div class="bestseller__header--action">
          <span>Show All</span>
          <img
            src="assets/icons/arrow_right_purple.png"
            alt="Arrow Right Icon"
          />
        </div> -->
      </div>
      <div class="bestseller__list">
        <div
          class="bestseller__item--wrapper col-sm-6 col-md-4 col-lg-4"
          *ngFor="let product of subCategory.items"
        >
          <div class="bestseller__item">
            <!-- <app-item-card></app-item-card> -->
            <app-item-card [product]="product"></app-item-card>
          </div>
        </div>
      </div>
      <!-- <div class="bestseller__footer">
        <div class="bestseller__footer--action">
          <span>View All</span>
          <img
            src="assets/icons/chevron-right-dark.png"
            alt="Chevron Right Icon"
          />
        </div>
      </div> -->
    </div>
  </ng-container>

  <!-- <div class="category-pop">
    <div class="category-pop__item" *ngFor="let item of [].constructor(2)">
      <div class="category-pop__item--info">
        <div class="category-pop__item--info-title">Featured Item</div>
        <div class="category-pop__item--info-subtitle">
          Lorem ipsum dolor sit amet
        </div>
        <button class="btn btn-dark">Shop Now</button>
      </div>
      <div class="category-pop__item--media">
        <img src="assets/images/dummy-product-05.png" alt="Category Image" />
      </div>
    </div>
  </div> -->

  <!-- <div class="bestseller">
    <div class="bestseller__header">
        <div class="bestseller__header--title">Shop Best Seller</div>
        <div class="bestseller__header--action">
          <span>Show All</span>
          <img
            src="assets/icons/arrow_right_purple.png"
            alt="Arrow Right Icon"
          />
        </div>
      </div>
    <div class="bestseller__list">
      <div
        class="bestseller__item--wrapper col-sm-6 col-md-4 col-lg-4"
        *ngFor="let item of [].constructor(4)"
      >
        <div class="bestseller__item">
          <app-item-card></app-item-card>
        </div>
      </div>
    </div>
    <div class="bestseller__footer">
      <div class="bestseller__footer--action">
        <span>View All</span>
        <img
          src="assets/icons/chevron-right-dark.png"
          alt="Chevron Right Icon"
        />
      </div>
    </div>
  </div> -->

  <app-offer-banner
    [subtitle]="'CAPTION HERE'"
    [title]="'Category Name'"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetu'
    "
    [ctaLabel]="'Shop Now'"
    [ctaType]="'BUTTON'"
    [bgColor]="'dark'"
  ></app-offer-banner>

  <!-- <div class="bestseller">
    <div class="bestseller__header">
        <div class="bestseller__header--title">Shop Best Seller</div>
        <div class="bestseller__header--action">
          <span>Show All</span>
          <img
            src="assets/icons/arrow_right_purple.png"
            alt="Arrow Right Icon"
          />
        </div>
      </div>
    <div class="bestseller__list">
      <div
        class="bestseller__item--wrapper col-sm-6 col-md-4 col-lg-3"
        *ngFor="let item of [].constructor(4)"
      >
        <div class="bestseller__item">
          <app-item-card></app-item-card>
        </div>
      </div>
    </div>
    <div class="bestseller__footer">
      <div class="bestseller__footer--action">
        <span>View All</span>
        <img
          src="assets/icons/chevron-right-dark.png"
          alt="Chevron Right Icon"
        />
      </div>
    </div>
  </div> -->
</div>

<!-- <app-offer-banner
  [title]="'Marketing Message Here'"
  [mediaURL]="'assets/images/dummy-product-04.png'"
  [description]="
    'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.'
  "
  [ctaLabel]="'Shop Now'"
  [ctaType]="'LINK'"
  [bgColor]="'blue'"
></app-offer-banner> -->

<!-- <app-footer></app-footer>
  <app-footer-copyright-strip></app-footer-copyright-strip> -->
