<!-- <app-header-top-strip></app-header-top-strip>
<app-header></app-header> -->
<div class="container">
  <!-- <app-header-categories></app-header-categories> -->

  <!-- <app-breadcrumb
    [inactiveElements]="['Home']"
    [activeElement]="'Contact Us'"
  ></app-breadcrumb> -->

  <div class="page-title__wrapper">
    <div class="page-title__heading">Contact Us</div>
    <div class="page-title__description">
      Got any question or need help with ordering? We're here to help you!
    </div>
  </div>

  <div class="contact__wrapper">
    <div class="contact__main">
      <div class="contact__main--header">Get in touch with us!</div>
      <form [formGroup]="contactFG">
        <div class="contact__main--item-grp">
          <div class="contact__main--item message">
            <label>Full Name</label>
            <input
              type="text"
              class="form-control"
              placeholder=""
              formControlName="fullName"
            />
          </div>
        </div>
        <div class="contact__main--item-grp">
          <div class="contact__main--item">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder=""
              formControlName="email"
            />
          </div>
          <div class="contact__main--item">
            <label>Phone Number</label>
            <input
              type="tel"
              class="form-control"
              placeholder=""
              formControlName="phoneNumber"
            />
          </div>
        </div>
        <div class="contact__main--item-grp">
          <div class="contact__main--item message">
            <label>Your message</label>
            <textarea
              rows="3"
              class="form-control"
              placeholder="Your query here"
              formControlName="message"
            ></textarea>
          </div>
        </div>
        <div class="contact__main--footer">
          <div class="contact__main--footer-coupon"></div>
          <div class="contact__main--footer-shopping">
            <button class="btn btn-dark" (click)="submitForm()">
              Send Message
            </button>
          </div>
        </div>
      </form>
      <!-- <img src="assets/images/dummy-product-03.png" alt=""> -->
    </div>
    <div class="contact__info">
      <div class="contact__info--header">Contact Details</div>
      <div class="contact__info--item">
        <div class="contact__info--item-label">Address</div>
        <div class="contact__info--item-value">
          258, Sawer Road, Sector D, Village Sukhliya, Indore
        </div>
      </div>
      <div class="contact__info--item">
        <div class="contact__info--item-label">Phone</div>
        <div class="contact__info--item-value">
          +91-9977403008 | +91-9826664567
        </div>
      </div>
      <div class="contact__info--item">
        <div class="contact__info--item-label">Email</div>
        <div class="contact__info--item-value">industriesmeera@gmail.com</div>
      </div>
      <div class="contact__info--item">
        <div class="contact__info--item-label">Timings</div>
        <div class="contact__info--item-value">Mon - Sat : 9:00AM - 6:00PM</div>
      </div>
    </div>
  </div>
</div>

<app-offer-banner
  [title]="'Marketing Message Here'"
  [mediaURL]="'assets/images/dummy-product-04.png'"
  [description]="
    'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.'
  "
  [ctaLabel]="'Shop Now'"
  [ctaType]="'LINK'"
  [bgColor]="'blue'"
></app-offer-banner>

<!-- <app-footer></app-footer>
<app-footer-copyright-strip></app-footer-copyright-strip> -->
