<div class="banner__wrapper" [ngClass]="bgColor">
  <div class="banner__info">
    <div class="banner__info--subtitle">{{ subtitle }}</div>
    <div class="banner__info--title">{{ title }}</div>
    <div class="banner__info--description">
      {{ description }}
    </div>
    <div class="banner__info--action c-pointer" *ngIf="ctaType === 'LINK'">
      <span>{{ ctaLabel }}</span>
      <img src="assets/icons/arrow_right.png" alt="Arrow Right Icon" />
    </div>
    <div
      class="banner__info--action banner__info--action-button"
      *ngIf="ctaType === 'BUTTON'"
    >
      <button
        class="btn"
        [ngClass]="bgColor === 'dark' ? 'btn-light' : 'btn-dark'"
      >
        {{ ctaLabel }}
      </button>
    </div>
  </div>
  <div class="banner__media" *ngIf="mediaURL">
    <img [src]="mediaURL" alt="Offers Banner" />
  </div>
</div>
