<div class="strip__wrapper">
  <div class="container">
    <div class="strip__title">
      <img src="assets/icons/shipping.png" alt="Shipping Icon" />
      Get upto 10% off on your bulk orders!
    </div>
    <div class="strip__menu">
      <!-- <div class="strip__menu--item c-pointer" routerLink="/faqs">
        Help and FAQs
      </div> -->
      <div class="strip__menu--item">
        <!-- <img src="assets/images/flags/USA.png" alt="USA Flag Icon" /> -->
        <i class="bi bi-whatsapp"></i>
        <span class="px-2">WhatsApp</span>
      </div>
    </div>
  </div>
</div>
