<div class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__brand">
          <img src="assets/images/logo-dark.png" alt="Brand Logo" />
        </div>
        <div class="footer__info">
          <div class="footer__info--icon">
            <img src="assets/icons/map.png" alt="Map Icon" />
          </div>
          <div class="footer__info--text">
            <div>3131 Western Ave, Suite 527,</div>
            <div>Seattle, WA 98121</div>
          </div>
        </div>
        <div class="footer__info">
          <div class="footer__info--icon">
            <img src="assets/icons/map.png" alt="Map Icon" />
          </div>
          <div class="footer__info--text">
            <div>3131 Western Ave, Suite 527,</div>
            <div>Seattle, WA 98121</div>
          </div>
        </div>
        <div class="footer__info">
          <div class="footer__info--icon">
            <img src="assets/icons/call.png" alt="Call Icon" />
          </div>
          <div class="footer__info--text">
            <div>126-632-2345</div>
            <div>username@xyz.com</div>
          </div>
        </div>
      </div>

      <div class="footer__middle">
        <div class="footer__link">
          <div class="footer__link--grp">
            <div class="footer__link--title">Important</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
          </div>
          <div class="footer__link--grp">
            <div class="footer__link--title">Quick Links</div>
            <div class="footer__link--item" routerLink="/faqs">FAQs</div>
            <div class="footer__link--item" routerLink="/contact">
              Contact Us
            </div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
          </div>
          <div class="footer__link--grp">
            <div class="footer__link--title">Help</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
          </div>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__subscribe">
          <div class="footer__subscribe--title">Subscribe</div>
          <div class="footer__subscribe--input">
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                placeholder="Email address"
              />
              <div class="input-group-append c-pointer">
                <span class="input-group-text">
                  <img
                    src="assets/icons/arrow-right-white.png"
                    alt="Arrow Right"
                  />
                </span>
              </div>
            </div>
          </div>
          <div class="footer__subscribe--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom--left">
        <div class="footer__contact">
          <button class="btn btn-primary">Contact Seller</button>
        </div>
      </div>
      <div class="footer__bottom--middle">
        <div class="footer__static-link">
          <div class="footer__static-link--item">Privacy policy</div>
          <div class="footer__static-link--item">Terms of use</div>
          <div class="footer__static-link--item">Cookies</div>
        </div>
      </div>
      <div class="footer__bottom--right">
        <div class="footer__social">
          <div class="footer__social--item">
            <img src="assets/icons/facebook.png" alt="Facebook Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/twitter.png" alt="Twitter Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/linkedin.png" alt="LinkedIn Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/dribbble.png" alt="Dribble Icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
