<div class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__brand">
          <img src="assets/images/logo-dark.png" alt="Brand Logo" />
        </div>
        <div class="footer__info">
          <div class="footer__info--icon">
            <img src="assets/icons/map.png" alt="Map Icon" />
          </div>
          <div class="footer__info--text">
            <div>258, Sawer Road, Sector D</div>
            <div>Village Sukhliya, Indore</div>
          </div>
        </div>
        <!-- <div class="footer__info">
          <div class="footer__info--icon">
            <img src="assets/icons/map.png" alt="Map Icon" />
          </div>
          <div class="footer__info--text">
            <div>3131 Western Ave, Suite 527,</div>
            <div>Seattle, WA 98121</div>
          </div>
        </div> -->
        <div class="footer__info">
          <div class="footer__info--icon">
            <img src="assets/icons/call.png" alt="Call Icon" />
          </div>
          <div class="footer__info--text">
            <div>
              <a href="tel:+919977403008">+91-9977403008</a> |
              <a href="tel:+919826664567">+91-9826664567</a>
            </div>
            <div>
              <a href="mailto:industriesmeera@gmail.com">
                industriesmeera@gmail.com
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__middle">
        <div class="footer__link">
          <div class="footer__link--grp">
            <div class="footer__link--title">Quick Links</div>
            <div class="footer__link--item">Home</div>
            <div class="footer__link--item">About Us</div>
            <div class="footer__link--item">Contact Us</div>
            <!-- <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div> -->
          </div>
          <div class="footer__link--grp">
            <div class="footer__link--title">Our Offerings</div>
            <div
              class="footer__link--item"
              routerLink="/products/round-containers"
            >
              Round Containers
            </div>
            <div class="footer__link--item" routerLink="/products/hdpe-bottles">
              HDPE Bottles
            </div>
            <div class="footer__link--item" routerLink="/products/hdpe-toys">
              HDPE Toys
            </div>
            <div class="footer__link--item" routerLink="/products/bopp-tapes">
              BOPP Tapes
            </div>
            <div
              class="footer__link--item"
              routerLink="/products/paper-napkins"
            >
              Paper napkins
            </div>
            <!-- <div class="footer__link--item" routerLink="/faqs">Containers</div> -->
          </div>
          <!-- <div class="footer__link--grp">
            <div class="footer__link--title">Help</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
            <div class="footer__link--item">Lorem</div>
          </div> -->
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__subscribe">
          <div class="footer__subscribe--title">Say hello!</div>
          <div class="footer__subscribe--input">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Your message here"
              />
              <div
                class="input-group-append c-pointer"
                (click)="openWhatsapp()"
              >
                <span class="input-group-text">
                  <img
                    src="assets/icons/arrow-right-white.png"
                    alt="Arrow Right"
                  />
                </span>
              </div>
            </div>
          </div>
          <div class="footer__subscribe--description">
            Want to discuss your requirements? Connect with us on WhatsApp now!
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom--left">
        <div class="footer__contact">
          <button class="btn btn-primary" [routerLink]="'/contact'">
            Contact Us
          </button>
        </div>
      </div>
      <div class="footer__bottom--middle">
        <div class="footer__static-link">
          <!-- <div class="footer__static-link--item">Privacy policy</div>
          <div class="footer__static-link--item">Terms of use</div>
          <div class="footer__static-link--item">Cookies</div> -->
        </div>
      </div>
      <div class="footer__bottom--right">
        <div class="footer__social">
          <div class="footer__social--item">
            <img src="assets/icons/facebook.png" alt="Facebook Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/twitter.png" alt="Twitter Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/linkedin.png" alt="LinkedIn Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/dribbble.png" alt="Dribble Icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
